body {
    background-color: #4f5965;
    padding-bottom: 70px;
}

.header {
    padding: 30px 0;
    background: #ffffff;
    border-top: 10px solid #778492;
  }
  
  .header .btn {
    margin-top: 60px;
    font-weight: bold;
  }
  
  .header .profile-image {
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid #4f5965;
    height: 150px;
    width: 150px;
  }

  .header h1 {
    color: rgb(8, 53, 51);
  }

  .header h4 {
    color: rgb(20, 90, 87);
  }

  .header h6 {
    color: #778492;
  }

  .header .btn {
    background-color: #4aaaa5;
    color: #ffffff;
    border: 1px solid #ffffff;  
    border-radius: 4px;
  }

.pageContent {
  width: 90%
}

  .pageContent hr {
    border: 1px solid #666666;
    background-color: #666666;
  }

  .pageContent .aboutMe {
    background: #ffffff;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
  }

  .pageContent .myProjects {
    background: #ffffff;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
  }

  .pageContent p {
    text-align: justify;
  }

  .pageContent .myProjects .projectList {
    line-height: 2rem;
    font-size: 18px;
  }

  .pageContent .myProjects .projectList li a {
    text-decoration: none;
    color: rgb(8, 53, 51);
  }

  .pageContent .myProjects .moreDetailsBtn a {
    text-decoration: none;
    color: gray;
  }

footer {
    background-color: #666666;
    margin: 0;
    font-size: 8px;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
}

/* Contact Me Page */

section {
  background-color: #ffffff;
  border-radius: 2px;
}

  section hr {
    border: 1px solid #666666;
    background-color: #666666;
  }

  section textarea {
    min-height: 100px;
  }

  section .btn {
    background-color: #4aaaa5;
    color: #ffffff;
    border: 1px solid #ffffff;  
    border-radius: 4px;
  }

/* Project Page */

.projectsPage a {
  text-decoration: none;
  color: #4f5965;
}

.projectsPage img {
  height: 220px;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 2px;
}

.projectsPage .resumeLink {
  font-size: 20px;
  text-decoration: underline;
}

